<template>
  <div>
    <div class="row">
      <div class="col-md-12 pb-4">
        <button
          type="button"
          class="btn bg-gradient-secondary btn-sm"
          data-toggle="modal"
          data-target="#modal-add"
        >
          <i class="fas fa-plus"></i> Add Slide
        </button>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">List Slide</h5>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>

              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
            <div class="card-tools pr-5">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search" />

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Title</th>
                  <!-- <th>Description</th> -->
                  <th>Image</th>
                  <th>SubTitle</th>
                  <!-- <th>WorkBy</th> -->
                  <th>Option</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,key,index) in ListSlide" :key="index">
                  <td>{{key+1}}</td>
                  <td>{{item.Title}}</td>
                  <td> <img :src="item.Image" class="img-fluid" alt="" width="50%" height="50%"></td>
                  <td>{{item.Subtitle}}</td>
                  <!-- <td>user</td> -->
                  <td class="py-0 align-middle">
                    <div class="btn-group btn-group-sm">
                      <a @click="edit(item,index)" style="cursor: pointer;" class="btn btn-info">
                        <i style="color:white" class="fas fa-edit"></i>
                      </a>
                      <a style="cursor: pointer;"  @click="remove(item.ID)" class="btn btn-danger">
                        <i style="color:white" class="fas fa-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
          <!-- ./card-body -->
          <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item">
                <a class="page-link" href="#">First</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>

              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">Previous</a>
              </li>

              <li class="page-item">
                <a class="page-link" href="#">Last</a>
              </li>
            </ul>
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <!-- modal -->
    <div class="modal fade" id="modal-add" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              <i class="fas fa-plus"></i> Add Slide
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
            <form @submit.prevent="save" role="form">
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="Name">Title</label>
                      <input v-model="title" type="text" id="title" class="form-control title" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="Name">SubTitle</label>
                      <input v-model="subtitle" type="text" id="subtitle" class="form-control subtitle" />
                    </div>
                  </div>
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="Name">WorkBy</label>
                      <input v-model="WorkBy" type="text" id="WorkBy" class="form-control WorkBy" />
                    </div>
                  </div> -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="Name">Image</label>
                      <input type="file" ref="file" class="form-control UploadedFile" name="UploadedFile" id="UploadedFile" placeholder="Upload file" @change="onFileChange"/>
                      <img v-bind:src="imagePreview" v-show="showPreview"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-edit" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              <i class="fas fa-plus"></i>Slide Edit
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">

               <div class="col-md-12">
                <div class="form-group">
                  <input v-model="ID" type="text" id="idproducts" class="form-control idproducts" style="display:none;" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Name">Title</label>
                  <input v-model="TitleEdit" type="text" id="TitleEdit" class="form-control TitleEdit" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Name">SubTitle</label>
                  <input v-model="SubTitleEdit" type="text" id="SubTitleEdit" class="form-control SubTitleEdit" />
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label for="Name">WorkBy</label>
                  <input v-model="WorkByEdit" type="text" id="WorkBy" class="form-control WorkBy" />
                </div>
              </div> -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Name">Image</label> 
                  <input type="file" ref="file2" class="form-control UploadedFile" name="UploadedFile" id="UploadedFile" placeholder="Upload file" @change="onFileChange2"  />
                  <img v-if="img" v-bind:src="img" /> 
                  
                  <!-- <img v-else v-bind:src="imagePreview2" v-show="showPreview2"/> -->
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button @click="update" type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    
  </div>
</template>

<script>
export default {
  name: "admin-role",
  data(){
    return{
      file2: '', 
      showPreview2: false,
      imagePreview2: '',
      file: '',
      showPreview: false,
      imagePreview: '',

      ListSlide: [],
      title: null,
      subtitle: null,
      WorkBy: null,
      TitleEdit: null,
      WorkByEdit: null,
      SubTitleEdit: null,
      ID: null,
      bugIndex: null,
      image: '',
      img: ''
    }
  },
  created(){
    this.getSlide()
  },
  methods:{
    onFileChange() {
     this.file = this.$refs.file.files[0];
      //  console.log(this.file)
      let reader  = new FileReader();
      reader.addEventListener("load", function () {
        this.showPreview = true;
        this.imagePreview = reader.result;
      }.bind(this), false);
      if( this.file ){
        if ( /\.(jpe?g|png|gif)$/i.test( this.file.name ) ) {
          reader.readAsDataURL( this.file );
        }
      }
    },
    onFileChange2() {
     this.file2 = this.$refs.file2.files[0];
      //  console.log(this.file2)
      let reader  = new FileReader();
      reader.addEventListener("load", function () {
        this.showPreview2 = true;
        this.img = reader.result;
      }.bind(this), false);
      if( this.file2 ){
        if ( /\.(jpe?g|png|gif)$/i.test( this.file2.name ) ) {
          reader.readAsDataURL( this.file2 );
        }
      }
    },
    getSlide(){
      let self = this
      this.$api.get('api/Slides/GetListSlide').then(res=>{
        // console.log(res)
        self.ListSlide = res.data
        // console.log("self.ListProject")
        // console.log(self.ListProject)        
      })
    },
    save(){
      var formData = new FormData();
      var fileUpload = document.querySelector("#modal-add  #UploadedFile");
      formData.append("UploadedFile", this.file);
      formData.append("UploadedFileTitle", this.title);
      formData.append("UploadedFileSubtitle", this.subtitle);
     //   formData.append("UploadedFileWorkBy", this.WorkBy);
      // console.log(this.file)
      this.$api.post('api/slides/Created',formData,{
         headers: {
          "Content-Type": "multipart/form-data"
        }
      }).then(res=>{
        // this.$router.push()
        this.$swal('Success !', 'New Slide Add Success', 'success');
        this.getSlide();
        this.resetForm();
      })
      $("#modal-add").modal('hide');
    },
    resetForm(){
      $('#modal-add .Name').val("");
    },
    remove(id){
      this.$swal({
          title: 'Are you sure?',
          text: 'You can\'t revert your action',
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Yes Delete it!',
          cancelButtonText: 'No, Keep it!',
          showCloseButton: true,
          showLoaderOnConfirm: true
        })
        .then(result => {
          if (result.value) {
            this.$api.delete(`api/Slides/DeleteSlide/${id}`)
              .then(r => {
                this.getSlide();
                this.$swal('Deleted', 'You successfully deleted this Slide', 'success')
                // alertify.success("Success");
              })
              .catch(r => {
                console.log(r);
              });
          } else {
            this.$swal('Cancelled', 'Your Slide is still intact', 'info')
          }
        });
      // console.log(id);
    },
    edit: function(item,index){
      $("#modal-edit").modal('show');
      this.ID = item.ID;
      this.TitleEdit = item.Title;
      this.img= item.Image;
      this.SubTitleEdit = item.Subtitle;
    //   this.WorkByEdit = item.WorkBy;
    },
    update(item,index){
      // console.log(this.ID)
      var formData = new FormData();
      var fileUpload = document.querySelector("#modal-edit  #UploadedFile");
      formData.append("UploadedFile", this.file2);
      formData.append("UploadedFileTitleEdit", this.TitleEdit);
      formData.append("UploadedFileSubtitleEdit", this.SubTitleEdit);
      formData.append("UploadedFileID", this.ID);
      this.$api.post('api/Slides/Update',formData,{
         headers: {
          "Content-Type": "multipart/form-data"
        }
      }).then(res=>{
        this.$swal('Success !', 'Slides Update Success', 'success');
        // this.$swal("success!");
        $("#modal-edit").modal('hide');
        this.getSlide();
      }).catch(e=>{
        this.$swal("error!");
      })
    }
  }
};
</script>

<style scoped>
img {
  width: 30%;
  display: block;
  margin-bottom: 10px;
}
</style>
