<template>
    <div>
        <div class="row">
            <div class="col-md-12 pb-4">
                <button
                type="button"
                class="btn bg-gradient-secondary btn-sm"
                data-toggle="modal"
                data-target="#modal-add"
                >
                <i class="fas fa-plus"></i>Add Article
                </button>
            </div>
            <div class="col-md-12">
                <div class="card">
                <div class="card-header">
                    <h5 class="card-title">List Project</h5>

                    <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>

                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                    </div>
                    <div class="card-tools pr-5">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search" />

                        <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                        </button>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                        <th>No.</th>
                        <th>Article Name</th>
                        <th>Description</th>
                        <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,key,index) in ListArticle" :key="index">
                        <td>{{item.ID}}</td>
                        <td>{{item.Name}}</td>
                        <td>{{item.Description}}</td>
                        <td class="py-0 align-middle">
                            <div class="btn-group btn-group-sm">
                            <a @click="edit(item,index)" style="cursor: pointer;" class="btn btn-info">
                                <i style="color:white" class="fas fa-edit"></i>
                            </a>
                            <a style="cursor: pointer;"  @click="remove(item.ID)" class="btn btn-danger">
                                <i style="color:white" class="fas fa-trash"></i>
                            </a>
                            </div>
                        </td>
                        </tr>
                        
                    </tbody>
                    </table>
                </div>
                <!-- ./card-body -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item">
                        <a class="page-link" href="#">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Previous</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#">Last</a>
                    </li>
                    </ul>
                </div>
                <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
        <!-- /.col -->
        </div>
         <!-- modal -->
        <div class="modal fade" id="modal-add" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                    <i class="fas fa-plus"></i> Add Article
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                    <!-- <div class="col-md-6">
                        <div class="form-group">
                        <label for="ID">ID</label>
                        <input type="text" id="ID" class="form-control ID" />
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="form-group">
                        <label for="Name">Name</label>
                        <input v-model="name" type="text"  class="form-control " />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                        <label for="Name">Description</label>
                            <!-- <ckeditor :editor="editor" v-model="description" :config="editorConfig"></ckeditor> -->
                             <vue-editor  v-model="description" />
                        </div>
                    </div>

                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button @click="save" type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div class="modal fade" id="modal-edit" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                    <i class="fas fa-plus"></i> Article Edit
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            <label for="Name">Name</label>
                            <input v-model="nameEdit" type="text"  class="form-control " />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                            <label for="Name">Description</label>
                                <vue-editor v-model="descriptionEdit"  />
                                <!-- <ckeditor :editor="editor" v-model="descriptionEdit" :config="editorConfig"></ckeditor> -->
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button @click="update" type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
               
            </div>
            
        </div>

    </div>
</template>
<script>

import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

export default {
    name: 'article-admin',
    // components: { VueCkeditor },
    
    data() {
        return {
            content: null,
            name: null,
            ListArticle: [],
            editor: ClassicEditor,
            description: 'Content of the editor',
            editorConfig: {
            },
            nameEdit: null,
            descriptionEdit: null,
            ID: null
        }
    },
    created(){
        this.getAllArticle()
    },
    methods: {
        handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
            var formData = new FormData();
            formData.append("image", file);
            console.log("aaa")
        },
        resetForm(){
            $('#modal-add .Name').val("");
        },
        save:function(file, Editor, cursorLocation, resetUploader){
            var formData = new FormData();
            formData.append("image", file);
            this.$api.post("api/Articles/Created2",formData,{
                headers: {
                "Content-Type": "multipart/form-data"
                }
            }).then(r=>{
                this.$swal('Success !', 'New Article Add Success', 'success');
                this.getAllArticle();
                
            })
            // $("#modal-add").modal('hide');
            this.resetForm();
        },
        edit(item,index){
            $("#modal-edit").modal('show');
            this.ID = item.ID;
            this.nameEdit = item.Name;
            this.descriptionEdit = item.Description;
        },
        update(item,index){
            console.log(this.ID);
            this.$api.post("api/Articles/Update",{
                ID: this.ID,
                Name : this.nameEdit,
                Description: this.descriptionEdit
            }).then(r=>{
                this.$swal("Success !", "Articles Update Success", "success");
                $("#modal-edit").modal("hide");
                this.getAllArticle();
            })
        },
        getAllArticle(){
            this.$api.get('api/Articles/GetAll').then(r=>{
                // console.log(r)
                this.ListArticle = r.data
            })
        },
        remove(id){
            this.$swal({
                title: 'Are you sure?',
                text: 'You can\'t revert your action',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes Delete it!',
                cancelButtonText: 'No, Keep it!',
                showCloseButton: true,
                showLoaderOnConfirm: true
                })
                .then(result => {
                if (result.value) {
                    this.$api.delete(`api/Articles/DeleteArticle/${id}`)
                    .then(r => {
                        this.getAllArticle();
                        this.$swal('Deleted', 'You successfully deleted this Article', 'success')
                    })
                    .catch(r => {
                    });
                } else {
                    this.$swal('Cancelled', 'Your Article is still intact', 'info')
                }
                });
            // console.log(id);
            },
    }
}
</script>