<template>
  <div>
    <div class="row">
    
      <div class="col-md-12 pb-4">
        <button
          type="button"
          class="btn bg-gradient-secondary btn-sm"
          data-toggle="modal"
          data-target="#modal-oc"
        >
          <i class="fas fa-plus"></i> Add Project Training
        </button>
      </div>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">List Project Training</h5>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>

              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <ejs-treegrid
              ref="treegrid"
              :dataSource="data"
              childMapping="children"
              :treeColumnIndex="1"
              :allowPaging="true"
              :pageSettings="pageSettings"
              :allowExcelExport="true"
              :allowPdfExport="true"
              :allowSorting="true"
              :contextMenuItems="contextMenuItems"
              :contextMenuClick="contextMenuClick"
              :dataSourceChanged="dataSourceChanged"
              :editSettings="editing"
              :rowSelected="rowSelected "
              :actionComplete="actionComplete"
              :searchSettings="searchSettings"
              :toolbar="toolbar"
            >
              <e-columns>
                <e-column
                  field="levelnumber"
                  width="100"
                  isPrimaryKey="true"
                  headerText="Level"
                  :disableHtmlEncode="false"
                ></e-column>
                <e-column
                  field="title"
                  editType="stringedit"
                  headerText="Project Name"
                  :template="ProjectnameTemplate"
                  :edit="editparams"
                  :disableHtmlEncode="false"
                ></e-column>


                 <e-column field="link" editType="stringedit" headerText="Video Toturial"
                 isPrimaryKey="true"
                  :edit="editparams"
                  :template="optionLinkTemplate"
                  :disableHtmlEncode="false"
                ></e-column>

                 <e-column field="linkpath" editType="stringedit" headerText="Link Path"
                  :edit="editparams"
                  :template="optionPathTemplate"
                  :disableHtmlEncode="false"
                ></e-column>
                
              </e-columns>
            </ejs-treegrid>
          </div>
          <!-- ./card-body -->
        </div>

        <!-- /.card -->
      </div>

      <!-- /.col -->
    </div>

    <!-- modal-add-project-training -->
    <div class="modal fade" id="modal-oc" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              <i class="fas fa-plus"></i>
              {{modalTitle}}
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          
          <div class="modal-body">
            <div class="row">
              <div class="col-md">
                <div class="form-group">
                  <label for="Name">Name</label>
                  <input type="text" id="Name" v-model="name" class="form-control Name" />
                </div>
              </div>

              <div class="col-md">
                <div class="form-group">
                  <label for="Link">Video Toturial</label>
                  <input type="file" id="Link"  class="form-control Link" />
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="Link">Link Path</label>
                  <input type="text" id="Path" v-model="pathlink"  class="form-control Path" />
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="createTask2">Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- end modal -->


    <!-- modal-edit -->
    <div class="modal fade" id="modal-edit" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              <i class="fas fa-plus"></i>
              {{modalTitle}}
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          
          <div class="modal-body">
            <div class="row">
              <div class="col-md">
                <div class="form-group">
                  <label for="Name">Name</label>
                  <input type="text" id="Name" v-model="Editname" class="form-control Name" />
                </div>
              </div>

              <div class="col-md">
                <div class="form-group">
                  <label for="Link">Link Toturial</label>
                  <input type="file" id="Link"  class="form-control Link" />
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="Link">Link Path</label>
                  <input type="text" id="Path" v-model="Editpath"  class="form-control Path" />
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="update">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end modal -->

    <!-- modal-add-function-project -->
    <div class="modal fade" id="modal-add-function" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              <i class="fas fa-plus"></i>
              {{modalTitle}}
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md">
                <div class="form-group">
                  <label for="Name">Name</label>
                  <input type="text" id="Name" v-model="name" class="form-control Name" />
                </div>
              </div>

              <div class="col-md">
                <div class="form-group">
                  <label for="Link">Video Toturial</label>
                  <input type="file" id="Link"  class="form-control Link" />
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="Link">Link Path</label>
                  <input type="text" id="Path" v-model="pathlink" class="form-control Path" />
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="createTask2">Save changes</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- end modal -->

    <!-- Modal watch video -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fluid " role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>        
            <div>

            </div>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" :src="src" id="video" width="960" height="540"  allowscriptaccess="always" allowfullscreen  ></iframe>
            </div> 
          </div>
        </div>
      </div>
    </div> 

    <!-- The Modal show link path -->
    <div class="modal fade" id="Linkpath" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Note!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Vue from "vue";
import Multiselect from "vue-multiselect";
import { Datetime } from "vue-datetime";

import {
  TreeGridPlugin,
  ContextMenu,
  Sort,
  Filter,
  Edit,
  ExcelExport,
  PdfExport,
  Page,
  Resize,
  Toolbar
} from "@syncfusion/ej2-vue-treegrid";
Vue.use(TreeGridPlugin);
// register globally
Vue.component("multiselect", Multiselect);
export default {
  name: "client-task",
  components: {
    Multiselect,
    Datetime,
    Link: null,
  },
  data() {
    return {
      pathlink: '',
      src: '',
      showModal: false,
      optionLinkTemplate: function() {
        return {
          template: Vue.component("optionLinkTemplate", {
            template: `<div id="optionLinkTemplate">
                        <div class="btn-group">
                        <a v-if="data.link"  @click="watchvideo" style="cursor:pointer ; color: green"  >Watch Video</a>
                        </div>
                      </div>`,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
             watchvideo(){
                $("#myModal").modal("show");
             }
            }
          })
        };
      },
      optionPathTemplate: function() {
        return {
          template: Vue.component("optionPathTemplate", {
            template: `<div id="optionPathTemplate">
                        <div class="btn-group">
                        <a  @click="open(data.linkpath)" style="cursor:pointer ; color: blue" >{{data.linkpath}}</a>
                        </div>
                      </div>`,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
             open(linkpath){
              //  $("#Linkpath").modal("show");
               this.$swal('Note !', `Browser is not allowed to access local resources , Please copy Link Path paste to the Windows Explorer`, 'error');
             }
            }
          })
        };
      },
      ProjectnameTemplate: function() {
        return {
          template: Vue.component("ProjectnameTemplate", {
            template: `<a id="ProjectnameTemplate" data-toggle="tooltip" :title="data.title">
                      {{data.title}}
                      </a>`,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
            
            }
          })
        };
      },
      searchSettings: { hierarchyMode: "Parent" },
      oc: { id: 0, name: "" , link: "", level: 0, parentid: 0 },
      modalTitle: "Add Project Training",
      editparams: { params: { format: "n" } },
      contextMenuItems: [
        {
          text: "Add Function Project",
          iconCss: " e-icons e-add",
          target: ".e-content",
          id: "Add-Sub-OC"
        },
        {
          text: "Edit Function Project",
          iconCss: " e-icons e-edit",
          target: ".e-content",
          id: "EditOC"
        },
        {
          text: "Delete",
          iconCss: " e-icons e-delete",
          target: ".e-content",
          id: "DeleteOC"
        }
      ],
      toolbar: [
        "Search",
        "ExpandAll",
        "CollapseAll",
      ],
      editing: { allowDeleting: true, allowEditing: true, mode: "Row" },
      pageSettings: { pageSize: 100 },
      editparams: { params: { format: "n" } },
      expanded: {},
      data: [],
      who: "",
      primaryKey: 0,
      remarkObj: {
        id: 0,
        remark: ""
      },
      edit: {
        key: 0,
        title: "",
        link: '',
        path: ''
      },
      name: '',
      link: '',
      Editname:'',
      Editpath: '',
      id: ''
    }
  },
  created() {
    this.getOCs();
    this.who = localStorage.getItem("User");
  },
  mounted() {
    let self= this
    $("#myModal").on("hidden.bs.modal", function() {
      self.src = "";
    });

  },
  methods: {
    actionComplete(args) {
      var self = this;
      console.log("actionComplete");
      console.log(args);
      // console.log(self.edit.title);
      // console.log(self.edit.key);
      if (args.requestType == "save") {
        self.edit.title = args.data.title;
        self.edit.link = args.data.link;
        self.edit.path = args.data.linkpath;
        self.$api.post("api/Ocs/Rename", {
          key: self.edit.key,
          title: self.edit.title,
          link: self.edit.link,
          path: self.edit.path
        }).then(res => {
          this.$swal("Success !", "Edit Successfully!", "success");
        });
      }
    },
    rowSelected(args) {
      // console.log("rowSelected ");
      console.log(args);
      var self = this;
      self.src = args.data.link
      self.edit = {
        key: args.data.key,
        title: args.data.title
      };
      self.oc = {
        id: args.data.key,
        name: args.data.title,
        level: args.data.levelnumber,
        parentid: args.data.parentid
      };
      // console.log(self.oc);
    },
    delete(id) {
      var self = this;
      self.$api.delete("api/Ocs/Delete/" + id).then(res => {
        if (res.data) {
          self.dataSourceChanged();
        }
        this.$swal("Success !", "Delete", "success");
      });
    },
    dataSourceChanged() {
      var self = this;
      self.getOCs();
    },
    contextMenuClick: function(args) {
      var self = this;
      console.log(args);
      // console.log(args.rowInfo.rowData);
      if (args.item.id == "EditOC") {
        self.modalTitle = "Edit Function Project";
        $("#modal-edit").modal("show");
        self.Editname = self.oc.name
        self.Editpath = args.rowInfo.rowData.linkpath
        self.id = self.oc.id
        console.log(self.oc)
        //self.delete(args.rowInfo.rowData.ID);
      } else if (args.item.id === "DeleteOC") {
        self.delete(args.rowInfo.rowData.key);
      } else {
        self.modalTitle = "Add Function-Project";
        self.oc.parentid = args.rowInfo.rowData.key;
        $("#modal-add-function").modal("show");
        // console.log(self.oc);
      }
    },
    customiseCell: function(args) {
      // console.log("customiseCell");
      // console.log(args);

      if (args.column.field === "State") {
        args.cell.setAttribute("style", "background-color:red;color:white;");
      }
    },
    getOCs() {
      var self = this;
      self.$api.get("api/Ocs/GetListTree").then(res => {
        self.tasks = res.data;
        self.data = res.data;
      });
    },
    clearFrom() {
      this.oc = { id: 0, name: "", level: 0 };
      this.name= "",
      this.pathlink = ""
    },
    createTask() {
      var self = this;
      if (self.oc.parentid > 0) {
        self.$api.post("api/Ocs/CreateSubOC", {
          name: self.name,
          level: self.oc.level + 1,
          parentid: self.oc.parentid,
          url: self.link
        }).then(res => {
          if (res.data) {
            self.clearFrom();
            $("#modal-add-function").modal("hide");
            self.dataSourceChanged(); 
          }
          self.$swal('Success !', 'New Function Project Add Success', 'success');
        });
      } else {
        self.$api.post("api/Ocs/CreateOC", {
          name: self.name,
          parentid: self.oc.parentid,
          url: self.link
        }).then(res => {
          // self.data = res.data;
          if (res.data) {
            self.clearFrom();
            $("#modal-oc").modal("hide");
             self.$swal('Success !', 'New Project Add Success', 'success');
            self.dataSourceChanged();
          }
          console.log(res);
        });
      }
      this.modalTitle = "OC Add";
    },
    createTask2() {
      var self = this;
      if (self.oc.parentid > 0) {
        var formData = new FormData();
        var fileUpload = document.querySelector("#modal-add-function .Link");
        formData.append("UploadedFile", fileUpload.files[0]);
        formData.append("UploadedFileName", self.name);
        formData.append("UploadedFileLevel", self.oc.level + 1);
        formData.append("UploadedFileParentID", self.oc.parentid);
        formData.append("UploadedFilePath", self.pathlink);
        self.$api.post("api/Ocs/CreateSubOC2",formData,{
          headers: {
            "Content-Type": "multipart/form-data"
          }
        }).then(res => {
          if (res.data) {
            $("#modal-add-function").modal("hide");
            self.dataSourceChanged(); 
            self.clearFrom();
          }
          self.$swal('Success !', 'New Function Project Add Success', 'success');
        });
      } else {
        var formData = new FormData();
        var fileUpload = document.querySelector("#modal-oc .Link");
        formData.append("UploadedFile", fileUpload.files[0]);
        formData.append("UploadedFileName", self.name);
        formData.append("UploadedFileParentID", self.oc.parentid);
        formData.append("UploadedFilePath", self.pathlink);
        self.$api.post("api/Ocs/CreateOC2",formData,{
          headers: {
            "Content-Type": "multipart/form-data"
          }
        }).then(res => {
          // self.data = res.data;
          if (res.data) {
            $("#modal-oc").modal("hide");
            // self.clearFrom();
             self.$swal('Success !', 'New Project Add Success', 'success');
            self.dataSourceChanged();
          }
          console.log(res);
        });
      }
      this.modalTitle = "OC Add";
    },
    update(){
      let self = this
      var formData = new FormData();
      var fileUpload = document.querySelector("#modal-edit .Link");
      formData.append("UploadedFile", fileUpload.files[0]);
      formData.append("UploadedFileName", self.Editname);
      formData.append("UploadedFilePath", self.Editpath);
      formData.append("UploadedFileID", self.id);
      self.$api.post("api/Ocs/Rename2",formData,{
        headers: {
          "Content-Type": "multipart/form-data"
        }
      }).then(res => {
        if (res.data) {
          // self.clearFrom();
          $("#modal-edit").modal("hide");
          self.dataSourceChanged(); 
        }
        self.$swal('Success !', 'New Function Project Update Success', 'success');
      });
    },
    dateFormat(date) {
      var d = new Date(date);
      var m, day, month;
      m = d.getMonth() + 1;
      if (m < 10) month = "0" + m;
      if (d.getDate() < 10) day = "0" + d.getDate();
      else day = d.getDate();

      var year = d.getFullYear();
      var formattedDate = day + "/" + month + "/" + year;
      return formattedDate;
    }
  },
  watch: {},
  provide: {
    treegrid: [
      ContextMenu,
      Sort,
      Edit,
      ExcelExport,
      PdfExport,
      Page,
      Filter,
      Resize,
      Toolbar
    ]
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style >
.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }

/* .modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
} */

.e-headertext {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.74);
}
.e-treecell {
  font-size: 16px;
}
</style>
