<template>
  <div>

    <!-- ======= Header ======= -->
    <header id="header">
      <div class="container">

        <div class="logo float-left">
          <h1 class="text-light"><a href="#"><span>LabTeam</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="src/image/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        <nav class="nav-menu float-right ">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a @click="pushadmin" style="cursor:pointer ; color: white" target="blank">Sign in</a></li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

          <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

          <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div v-for="(item,key,index) in ListSlide" :key="index"  :class='key === 0 ? "carousel-item active" : "carousel-item " ' :style="{ backgroundImage: 'url(' + item.Image + ')' }">
              <div class="carousel-container">
                <div class="carousel-content container">
                  <h2 class="animated fadeInDown">{{item.Title}}</h2>
                  <p class="animated fadeInUp">{{item.Subtitle}}</p>
                  <a href="#portfolio" class="btn-get-started animated fadeInUp">Read More</a>
                </div>
              </div>
            </div>

          </div>

          <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>
    </section><!-- End Hero -->

    
    <main id="main">

      <!-- ======= About Us Section ======= -->
      <!-- <section id="about" class="about">
        <div class="container">

          <div class="row no-gutters">
            <div class="col-lg-6 video-box">
              <img src="src/image/about.jpg" class="img-fluid" alt="">
              <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
            </div>

            <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

              <div class="section-title">
                <h2>About Us</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
              </div>

              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bx-fingerprint"></i></div>
                <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
              </div>

              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bx-gift"></i></div>
                <h4 class="title"><a href="">Nemo Enim</a></h4>
                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
              </div>

            </div>
          </div>

        </div>
      </section> -->
      <!-- End About Us Section -->

      <!-- ======= About Lists Section ======= -->
      <!-- <section class="about-lists">
        <div class="container">

          <div class="row no-gutters">

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
              <span>01</span>
              <h4>Lorem Ipsum</h4>
              <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
              <span>02</span>
              <h4>Repellat Nihil</h4>
              <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">
              <span>03</span>
              <h4> Ad ad velit qui</h4>
              <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
              <span>04</span>
              <h4>Repellendus molestiae</h4>
              <p>Inventore quo sint a sint rerum. Distinctio blanditiis deserunt quod soluta quod nam mider lando casa</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="400">
              <span>05</span>
              <h4>Sapiente Magnam</h4>
              <p>Vitae dolorem in deleniti ipsum omnis tempore voluptatem. Qui possimus est repellendus est quibusdam</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="500">
              <span>06</span>
              <h4>Facilis Impedit</h4>
              <p>Quis eum numquam veniam ea voluptatibus voluptas. Excepturi aut nostrum repudiandae voluptatibus corporis sequi</p>
            </div>

          </div>

        </div>
      </section> -->
      <!-- End About Lists Section -->

      <!-- ======= Counts Section ======= -->
      <!-- <section class="counts section-bg">
        <div class="container">

          <div class="row">

            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
              <div class="count-box">
                <i class="icofont-simple-smile" style="color: #20b38e;"></i>
                <span data-toggle="counter-up">232</span>
                <p>Happy Clients</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
              <div class="count-box">
                <i class="icofont-document-folder" style="color: #c042ff;"></i>
                <span data-toggle="counter-up">521</span>
                <p>Projects</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
              <div class="count-box">
                <i class="icofont-live-support" style="color: #46d1ff;"></i>
                <span data-toggle="counter-up">1,463</span>
                <p>Hours Of Support</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
              <div class="count-box">
                <i class="icofont-users-alt-5" style="color: #ffb459;"></i>
                <span data-toggle="counter-up">15</span>
                <p>Hard Workers</p>
              </div>
            </div>

          </div>

        </div>
      </section> -->
      <!-- End Counts Section -->

      <!-- ======= Services Section ======= -->
      <!-- <section id="services" class="services">
        <div class="container">

          <div class="section-title">
            <h2>Services</h2>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
              <h4 class="title"><a href="">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="icofont-earth"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="icofont-image"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="icofont-settings"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
              <div class="icon"><i class="icofont-tasks-alt"></i></div>
              <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div>

        </div>
      </section> -->
      <!-- End Services Section -->

      <!-- ======= Our Portfolio Section ======= -->
      <section id="portfolio" class="portfolio section-bg">
        <div class="container" data-aos="fade-up" data-aos-delay="100">

          <div class="section-title">
            <!-- <h2>Our Projects</h2> -->
          </div>

          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <!-- <li v-on:click="activetab=1" v-bind:class="[ activetab === 1 ? 'active' : '' ]" data-filter=".filter-app" class="filter-active" >Projects</li> -->
                <li v-on:click="activetab=1" v-bind:class="[ activetab === 1 ? 'filter-active' : '' ]" >Projects</li>
                <li data-filter=".filter-app" >OKR</li>
                <li v-on:click="activetab=2" v-bind:class="[ activetab === 2 ? 'filter-active' : '' ]" >NEWS</li>
                <li v-on:click="activetab=3" v-bind:class="[ activetab === 3 ? 'filter-active' : '' ]">TRAINING RESOURCES</li>
              </ul>
            </div>
          </div>

          <div class="row portfolio-container">
            <!-- <div v-for="(item,key,index) in ListProject" :key="index"  class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img :src="item.Image" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>{{item.Name}}</h4>
                  <div class="portfolio-links">
                    <a :href="item.Image" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-eye"></i></a>
                    <a :href="item.URL" target="blank" title="More Details"><i class="icofont-external-link"></i></a>
                  </div>
                </div>
              </div>
            </div> -->

            <div v-for="(item,key,index) in ListProject"  :key="index"  class="col-lg-4 col-md-6 portfolio-item ">
              <div v-if="activetab == 1" class="portfolio-wrap">
                <img :src="item.Image" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>{{item.Name}}</h4>
                  <div class="portfolio-links">
                    <a :href="item.Image" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="icofont-eye"></i></a>
                    <a :href="item.URL" target="blank" title="More Details"><i class="icofont-external-link"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-lg-12 col-md-12 portfolio-item filter-card" style="display:none">

              <div v-for="(item,key,index) in ListArticle" :key="index" class="portfolio-wrap">
                <section class="tab-content-right">
                  <section class="noImage pushLeft">
                    <h3 itemprop="headline">
                      <a itemprop="url" href="">
                      {{item.Name}}
                      </a>
                    </h3>
                    <p itemprop="description">
                      {{item.Description}}
                    </p>
                    <a class="round-link" itemprop="url" href=""></a>
                  </section>
                </section>
              </div>
            </div>  -->

            <div class="col-lg-12 col-md-12 portfolio-item" >

              <div v-for="(item,key,index) in ListArticle" :key="index"  class="portfolio-wrap">
                <section v-if="activetab == 2" class="tab-content-right">
                  <section class="noImage pushLeft">
                    <h3 itemprop="headline">
                      <a itemprop="url" href="">
                      {{item.Name}}
                      </a>
                    </h3>
                    <p itemprop="description">
                      {{item.Description}}
                    </p>
                    <a class="round-link" itemprop="url" href=""></a>
                  </section>
                </section>
              </div>
            </div> 

            <!-- <div class="col-lg-12 col-md-12 portfolio-item filter-web" style="display:none">
              <div class="portfolio-wrap">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title">List Project Training</h5>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>

                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body table-responsive p-0">
                    <ejs-treegrid
                      ref="treegrid"
                      :dataSource="data"
                      childMapping="children"
                      :treeColumnIndex="1"
                      :allowPaging="true"
                      :pageSettings="pageSettings"
                      :allowExcelExport="true"
                      :allowPdfExport="true"
                      :allowSorting="true"
                      :editSettings="editing"
                      :dataSourceChanged="dataSourceChanged"
                      :rowSelected="rowSelected "
                      :actionComplete="actionComplete"
                      :searchSettings="searchSettings"
                      :toolbar="toolbar"
                    >
                      <e-columns>
                        <e-column
                          field="levelnumber"
                          width="100"
                          isPrimaryKey="true"
                          headerText="Level"
                          :disableHtmlEncode="false"
                        ></e-column>
                        <e-column
                          field="title"
                          editType="stringedit"
                          headerText="Project Name"
                          :edit="editparams"
                          :disableHtmlEncode="false"
                        ></e-column>


                        <e-column field="link" editType="stringedit" headerText="Link Toturial"
                          :edit="editparams"
                          :template="optionLinkTemplate"
                          :disableHtmlEncode="false"
                        ></e-column>
                        
                      </e-columns>
                    </ejs-treegrid>
                  </div>
                </div>
              </div>
            </div> -->

            <div v-if="activetab == 3"  class="col-lg-12 col-md-12 portfolio-item">
              <div class="portfolio-wrap" >
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title">List Project Training</h5>

                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>

                      <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body table-responsive p-0">
                    <ejs-treegrid
                      ref="treegrid"
                      :dataSource="data"
                      childMapping="children"
                      :treeColumnIndex="1"
                      :allowPaging="true"
                      :pageSettings="pageSettings"
                      :allowExcelExport="true"
                      :allowPdfExport="true"
                      :allowSorting="true"
                      :editSettings="editing"
                      :dataSourceChanged="dataSourceChanged"
                      :rowSelected="rowSelected "
                      :actionComplete="actionComplete"
                      :searchSettings="searchSettings"
                      :toolbar="toolbar"
                    >
                      <e-columns>
                        <e-column
                          field="levelnumber"
                          width="100"
                          isPrimaryKey="true"
                          headerText="Level"
                          :disableHtmlEncode="false"
                        ></e-column>
                        <e-column
                          field="title"
                          editType="stringedit"
                          headerText="Project Name"
                           :template="ProjectnameTemplate"
                          :edit="editparams"
                          :disableHtmlEncode="false"
                        ></e-column>


                        <e-column field="link" editType="stringedit" headerText="Video Toturial"
                          :edit="editparams"
                          :template="optionLinkTemplate"
                          :disableHtmlEncode="false"
                        ></e-column>

                        <e-column field="linkpath" editType="stringedit" headerText="Link Path"
                          :edit="editparams"
                          :template="optionPathTemplate"
                          :disableHtmlEncode="false"
                        ></e-column>

                        <e-column field="" editType="stringedit" headerText=""
                          width="100"
                          :edit="editparams"
                          :template="optionCopyTemplate"
                          :disableHtmlEncode="false"
                        ></e-column>

                      </e-columns>
                    </ejs-treegrid>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section>
      <!-- End Our Portfolio Section -->

      <!-- ======= Our Team Section ======= -->
      <!-- <section id="team" class="team">
        <div class="container">

          <div class="section-title">
            <h2>Our Team</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem.</p>
          </div>

          <div class="row">

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
              <div class="member">
                <div class="pic"><img src="src/image/team/team-1.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <div class="pic"><img src="src/image/team/team-2.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="member">
                <div class="pic"><img src="src/image/team/team-3.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="member">
                <div class="pic"><img src="src/image/team/team-4.jpg" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section> -->
      <!-- End Our Team Section -->

      <!-- ======= Frequently Asked Questions Section ======= -->
      <!-- <section id="faq" class="faq section-bg">
        <div class="container">

          <div class="section-title">
            <h2>Frequently Asked Questions</h2>
          </div>

          <div class="row  d-flex align-items-stretch">

            <div class="col-lg-6 faq-item" data-aos="fade-up">
              <h4>Non consectetur a erat nam at lectus urna duis?</h4>
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>

            <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="100">
              <h4>Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?</h4>
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim.
              </p>
            </div>

            <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="200">
              <h4>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?</h4>
              <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus.
              </p>
            </div>

            <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="300">
              <h4>Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?</h4>
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim.
              </p>
            </div>

            <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="400">
              <h4>Tempus quam pellentesque nec nam aliquam sem et tortor consequat?</h4>
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
              </p>
            </div>

            <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="500">
              <h4>Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor?</h4>
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.
              </p>
            </div>

          </div>

        </div>
      </section> -->
      <!-- End Frequently Asked Questions Section -->

      <!-- ======= Contact Us Section ======= -->
      <!-- <section id="contact" class="contact">
        <div class="container">

          <div class="section-title">
            <h2>Contact Us</h2>
          </div>

          <div class="row">

            <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>
            </div>

            <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="info-box">
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>info@example.com<br>contact@example.com</p>
              </div>
            </div>

            <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
              <div class="info-box ">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
              </div>
            </div>

            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-row">
                  <div class="col-lg-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validate"></div>
                  </div>
                  <div class="col-lg-6 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>
                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>

          </div>

        </div>
      </section> -->
      <!-- End Contact Us Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <!-- <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-3 col-md-6 footer-info">
              <h3>Mamba</h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
              <form action="" method="post">
                <input type="email" name="email"><input type="submit" value="Subscribe">
              </form>

            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Mamba</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer> -->
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <!-- Modal watch video -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fluid " role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>        
            <div>

            </div>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" :src="src" id="video" width="960" height="540"  allowscriptaccess="always" allowfullscreen  ></iframe>
            </div> 
          </div>
        </div>
      </div>
    </div> 
    <!-- end modal watch -->
  </div>
</template>
<script>
import Vue from "vue";
import Multiselect from "vue-multiselect";
import {
  TreeGridPlugin,
  ContextMenu,
  Sort,
  Filter,
  Edit,
  ExcelExport,
  PdfExport,
  Page,
  Resize,
  Toolbar
} from "@syncfusion/ej2-vue-treegrid";
Vue.use(TreeGridPlugin);

Vue.component("multiselect", Multiselect);
export default {
  name: "home",
  components:{
    Multiselect
  },
  data(){
    return{
      src: '',
      activetab: 1,
      optionPathTemplate: function() {
        return {
          template: Vue.component("optionPathTemplate", {
            template: `<div id="optionPathTemplate">
                        <div class="btn-group">
                        <a  @click="open(data.linkpath)" style="cursor:pointer ; color: blue" >{{data.linkpath}}</a>
                        </div>
                      </div>`,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
             open(linkpath){
                function isValidURL(string) {
                  var res = string.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g);
                  return (res !== null)
                };
                var testCase = linkpath;
                if(isValidURL(testCase)){
                  window.open(linkpath, '_blank');
                }
                else{
                  this.$swal('Note !', `<span style="color: red">Browser is not allowed to access local resources , Please copy Link Path paste to the Windows Explorer ! Thank you</span>`, 'error');
                }
             }
            }
          })
        };
      },
      optionLinkTemplate: function() {
        return {
          template: Vue.component("optionLinkTemplate", {
            template: `<div id="optionLinkTemplate">
                        <div class="btn-group">
                        <a v-if="data.link"  @click="watchvideo" style="cursor:pointer ; color: green"  >Watch Video<i class="fas fa-play"></i></a>
                        </div>
                      </div>`,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
             watchvideo(){
                $("#myModal").modal("show");
             }
            }
          })
        };
      },
      optionCopyTemplate: function() {
        return {
          template: Vue.component("optionLinkTemplate", {
            template: `
              <i v-if="data.linkpath" style="cursor: pointer;font-size: 14px;" v-clipboard:copy="data.linkpath" v-clipboard:success="onCopy" v-clipboard:error="onError" class="far fa-clone"></i>
                          `,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
              onCopy: function (e) {
                // alert('You just copied: ' + e.text)
                this.$swal('success !', 'copy successfully' + ' ' + e.text, 'success');
              },
              onError: function (e) {
                alert('Failed to copy texts')
              },
             watchvideo(){
                $("#myModal").modal("show");
             }
            }
          })
        };
      },
      ProjectnameTemplate: function() {
        return {
          template: Vue.component("ProjectnameTemplate", {
            template: `<a id="ProjectnameTemplate" data-toggle="tooltip" :title="data.title">
                      {{data.title}}
                      </a>`,
            data: function() {
              return {
                data: {}
              };
            },
            methods: {
            
            }
          })
        };
      },
      searchSettings: { hierarchyMode: "Parent" },
      oc: { id: 0, name: "",link: "", level: 0, parentid: 0 },
      modalTitle: "Add Project Training",
      editparams: { params: { format: "n" } },
      contextMenuItems: [
        {
          text: "Add Function Project",
          iconCss: " e-icons e-add",
          target: ".e-content",
          id: "Add-Sub-OC"
        },
        // {
        //   text: "Edit Function Project",
        //   iconCss: " e-icons e-edit",
        //   target: ".e-content",
        //   id: "EditOC"
        // },
        {
          text: "Delete",
          iconCss: " e-icons e-delete",
          target: ".e-content",
          id: "DeleteOC"
        }
      ],
      toolbar: [
        // "Search",
        "ExpandAll",
        "CollapseAll",
      ],
      editing: { allowDeleting: false, allowEditing: false, mode: "Row" },
      pageSettings: { pageSize: 100 },
      editparams: { params: { format: "n" } },
      expanded: {},
      data: [],
      who: "",
      primaryKey: 0,
      remarkObj: {
        id: 0,
        remark: ""
      },
      edit: {
        key: 0,
        title: ""
      },
      ListProject: [],
      ListSlide: [],
      ListArticle: []
    }
  },
  mounted(){

  },
  created(){
    this.getproject()
    this.getSlide()
    this.getArticle()
    this.getOCs()
  },
  methods:{
    pushadmin(){
      window.open('#/admin', '_blank');
    },
    customiseCell: function(args) {
      console.log("customiseCell");
      console.log(args);

      if (args.column.field === "State") {
        args.cell.setAttribute("style", "background-color:red;color:white;");
      }
    },
    actionComplete(args) {
      var self = this;
      console.log("actionComplete");
      console.log(args);
      // console.log(self.edit.title);
      // console.log(self.edit.key);
      if (args.requestType == "save") {
        self.edit.title = args.data.title;
        self.$api.post("api/Ocs/Rename", {
          key: self.edit.key,
          title: self.edit.title
        }).then(res => {
          this.$swal("Success !", "Edit Successfully!", "success");
        });
      }
    },
    rowSelected(args) {
      // console.log("rowSelected ");
      // console.log(args);
      var self = this;
      self.src = args.data.link
      self.edit = {
        key: args.data.key,
        title: args.data.title
      };
      self.oc = {
        id: args.data.key,
        name: args.data.title,
        level: args.data.levelnumber,
        parentid: args.data.parentid
      };
      // console.log(self.oc);
    },
    dataSourceChanged() {
      var self = this;
      self.getOCs();
    },
    getOCs() {
      var self = this;
      self.$api.get("api/Ocs/GetListTree").then(res => {
        // self.tasks = res.data;
        self.data = res.data;
        console.log(self.data);
      });
    },
    getproject(){
      let self = this
      this.$api.get('api/Projects/GetListProject').then(res=>{
        // console.log(res)
        self.ListProject = res.data       
      })
    },
    getSlide(){
      let self = this
      this.$api.get('api/Slides/GetListSlide').then(res=>{
        // console.log(res)
        self.ListSlide = res.data    
      })
    },
    getArticle(){
      let self = this
      this.$api.get('api/Articles/Getall').then(r=>{
        self.ListArticle = r.data
        // console.log("Articles")
        // console.log(r)
      })
    }
  },
  provide: {
    treegrid: [
      ContextMenu,
      Sort,
      Edit,
      ExcelExport,
      PdfExport,
      Page,
      Filter,
      Resize,
      Toolbar
    ]
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style >

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }
.e-headertext {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.74);
}
.e-treecell {
  font-size: 16px;
}
</style>
